@import url('./__copiright/footer__copiright.css');
@import url('./__link/footer__link.css');
@import url('./__navigation/footer__navigation.css');

.footer{
  display: flex;
  justify-content: space-between;
  width: 92.5%;
  margin: auto;
  padding-bottom: 24px;
}

@media (max-width: 1024px){
  .footer {
    width: 90.625%;
  }
}

@media (max-width: 768px){
  .footer {
    width: 93.75%;
  }
}

@media (max-width: 320px){
  .footer {
    flex-direction: column;
    width: 90%;
  }
}